version: '3.0'
services:
   mymongo:
     container_name: dbmongo
     image: mongo
     ports:
       - "27017:27017"
     restart: always

   trades:
     container_name: trades
     build:
       context: .
       dockerfile: Dockerfile
     image: trade/trade-server:1.0.0
     links:
       - mymongo:dbmongo
     ports:
       - "8080:8080"
     restart: always